/**
 * Site header
 */


.site-head {
    position: relative;
    z-index: 1;
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
		
	.nav-link, li {
		color: $grey-color;
		padding-bottom: 0.6em;
		color: $grey-color;
		a {
			padding: 0px;
			color: $grey-color;

			&:hover {
				color: $grey-color;
			}

			&:hover:after {
				width: 100%;
				background: $grey-color;
			}
		}
	}
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
		margin-left: 0;

	.icon {
		width: 25px;
		padding-right: 12px;
		display: inline-block;
		text-align: center;
		color: $grey-color;
	}
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

/**
 * Page content
 */
.page-content {
    //padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.navbar {
	border-top: 2px solid $brand-color;
}

.end-box {
	margin-bottom: -3rem !important;
}