	h1 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	h2 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	h3 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	h4 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	h5 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	h6 {
		font-family: Merriweather;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 0em;
	}
	
	p {
		font-family: Lato;
		font-weight: 400;
		font-style: normal;
		letter-spacing: 0em;
	}
	
	@media screen and (max-width: 720px) {
	}
	