.fancy-line {
    border-color: $brand-color;
    border: 2px solid $brand-color;

    &.invert {
        border-color: white;
    }
}

.jumbotron {
    hr {
        border-color: $brand-color;
        border: 2px solid $brand-color;
    }
}

.brands {
    .list-group {
        li {
            border: none;
            padding-top: 0px;
            background: transparent;

            .emoji {
                width: 20px;
                margin-right: 16px;
                display: inline-block;
            }
        }
    }
}

.showcase {
    background-size: cover;
    height: 500px;
    overflow: hidden;
    background: url('https://images.unsplash.com/photo-1533720141687-c2f685704710?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b2c22fb4190df7fdeb833b5ceb68ddf3&auto=format&fit=crop&w=1628&q=80') no-repeat center center fixed;

}

.service-box {
    border-radius: 5px;
    min-width: 75px;
    width: 75px;
    height: 75px;
    font-size: 1.4em;
    text-align: center;
    color: white;
    margin-right: 18px;

    &.blue {
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    }

    &.purple {
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }

    &.green {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }

    &.pink {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }

    &.yellow {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    }

    i {
        width: 100%;
    }
}

.color-bleed {
		background: $brand-color;
		margin-bottom: -3rem !important; 
}

.btn-outline-light {
    color: white;
}