.jumbo-wrap {
	position: relative;
	background: transparent;
	color: white;
	margin-top: -60px;
}

.dim {
	/*  making the video fullscreen  */
		background: rgba(38, 12, 12, 0.24);
		position: absolute;
		left: 0; 
		bottom: 0;
		min-width: 100%; 
		min-height: 100%;
		height: auto;
		z-index: -99;
	}

#video-background {
/*  making the video fullscreen  */
	position: absolute;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	height: auto;
	z-index: -100;
}

.navbar-dark {       
	@include media-breakpoint-up(xs) { 
			background: $brand-color;
	}

	@include media-breakpoint-up(lg) { 
		background: transparent;
	}

	
}


.job-box {
	@extend .service-box;
 
	img {
		width: 80%;
	}

	&.vanmoof {
		background: #FFFF00;
	}

	&.shopify {
		background: #f2e0cf;
	}

	&.stripe {
		background: #635bff;
	}

	&.tnw {
		background: #f42;
	}

	&.hoist {
		img {
			width: 100%;
			border-radius: 5px;
		}
	}

	&.xero {
		background: #1fc0e7;
	}

	&.charged {
		background-image: linear-gradient(to top, #E43E3A 0%, #ea6a67 99%, #ea6a67 100%);
		img {
			width: 100%;
			border-radius: 5px;
		}
	}

	&.hubble {
		background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	}

	&.call-me-maybe {
		background-image: linear-gradient(to top, #3498db 0%, #75b9e7 99%, #75b9e7 100%);
	}

	&.podcast {
		background-image: linear-gradient(to top, #453AE4 0%, #2C6DFF 99%, #2C6DFF 100%);
	}
}

.avatar img {
	border-radius: 99em;
}

.project {
	width: 100%;
	font-size: 1.5em;
	height: 120px;
}