.job-box {
	@extend .service-box;

	img {
		width: 80%;
	}

	&.vanmoof {
		background: #FFFF00;
	}

	&.tnw {
		background: #f42;
	}

	&.hoist {
		img {
			width: 100%;
			border-radius: 5px;
		}
	}

	&.xero {
		background: #1fc0e7;
	}
}

.avatar img {
	border-radius: 99em;
}