---
layout: default
title: Now
permalink: /now/
description: What Owen Williams is doing now
image: "/images/card.png"
video: true
---
{% assign items = site.now | sort: 'date' | reverse %}
{% assign latest = items[0] %}

<div class="jumbotron mb-0 jumbo-wrap">
	<div class="dim"></div>
	{% if latest.video %}
	<video autoplay loop id="video-background" muted plays-inline>
		<source src="{{latest.video}}" type="video/webm">
		<source src="{{latest.videoFallback}}" type="video/mp4" />
	</video>
	{% endif %}
	{% if latest.background %}
		<div class="image-bleed" style="background: url({{ latest.background }}) no-repeat center center fixed;"></div>
	{% endif %}
	<div class="intro py-5">
		<div class="container py-5 {% if page.video %}my-5{% endif %}">
			<div class="row">
				<div class="col-lg-6">
						<h1>{% if latest.header %}{{ latest.header }}{% else %}{{ latest.title }}{% endif %}</h1>
						<p>{% if latest.subheader %}{{ latest.subheader }}{% endif %}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-6">
					<hr class="my-4">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="post container my-5"> 
  <article class="row post-content">
		<div class="col-lg-8">
			<p class="post-meta">Now page for {{ latest.date | date: "%b %-d, %Y" }}</p>


			{{ latest.content }}
		</div>
	</article>

	{% if items | size >= 1 %}
		<hr class="py-3" />
		<h3>Previous Now updates</h3>

		{% for item in items %}
			{% if forloop.index != 1 %}
				<p><a href="{{ item.url }}">{{ item.title }}</a>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>  

