<div class="container py-4">
	<div class="py-3 py-md-5 mb-5">
		<div class="row mb-2">
			<div class="col-lg-12">
				<h3>You're in good company</h3>
				<p>Here's a few of the lovely brands I've worked with so far.</p>
			</div>
		</div>
		<div class="clients row d-flex align-items-center">
			<div class="col-lg-2 col-4 pr-md-5 mb-3 client">
				<img class="logo" src="/images/logo/stripe.svg" id="stripe">
			</div>
			<div class="col-lg-2 col-4 pr-md-4 mb-3 client">
					<img class="logo" src="/images/logo/intercom.svg" id="intercom">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 mb-3 client">
					<img class="logo" src="/images/logo/google.svg" id="google"> 
			</div>
			<div class="col-lg-2 col-4 pr-md-4 client">
					<img class="logo" src="/images/logo/digitalocean.svg" id="do">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 client">
					<img class="logo" src="/images/logo/ikea.png" id="ikea">
			</div>
			<div class="col-lg-2 col-4 pr-md-4 client">
					<img class="logo" src="/images/logo/clubhouse.png" id="clubhouse">
			</div>
		</div>
		<div class="row mt-4 d-flex align-items-center">
			<div class="col-lg-2 col-4 pr-md-4 mb-4 client">
					<img class="logo" src="/images/logo/hubspot.svg" id="hubspot">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 mb-4 client">
					<img class="logo" src="/images/logo/notion.png" id="notion">
			</div>
			<div class="col-lg-2 col-4 pr-md-4 mb-4 client">
					<img class="logo" src="/images/logo/buffer.png" id="buffer">
			</div>
			<div class="col-lg-2 col-4 pr-md-4 client">
					<img class="logo" src="/images/logo/greylock.png" id="greylock">
			</div>
			<div class="col-lg-2 col-4 pr-md-4 client">
					<img class="logo" src="/images/logo/messagebird.svg" id="messagebird">
			</div>
			<div class="col-lg-2 col-4 px-md-4 client">
					<img class="logo" src="/images/logo/figma.svg" id="figma">
			</div>
		</div>
		<div class="row mt-2 d-flex align-items-center">
			<div class="col-lg-2 col-4 pr-md-4 client">
				<img class="logo" src="/images/logo/clearbit.svg" id="clearbit">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 client">
					<img class="logo" src="/images/logo/spotify.svg" id="spotify">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 pl-md-4 client">
				<img class="logo px-md-2" src="/images/logo/framer.png" id="framer">
			</div>  
			<div class="col-lg-2 col-4 pr-md-5 client">
					<img class="logo" src="/images/logo/ghost.svg" id="ghost">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 client">
					<img class="logo" src="/images/logo/vice.svg" id="vice">
			</div>
			<div class="col-lg-2 col-4 pr-md-5 client">
					<img class="logo" src="/images/logo/gcloud.png" id="vice">
			</div>
		</div>
	</div>
</div>