<div class="color-bleed py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-6">
						{% if site.client_availability %}
							<h2 class="text-light">Let's make something great.</h2>
							<p class="lead text-light">I work closely with a small handful of companies, so I can give your brand the attention it needs.</p>
						{% else %}
							<h2 class="text-light">Alas, I'm not looking for freelance clients right now.</h2>
						{% endif %}
				</div>
			</div>
			<div class="row">
					<div class="col-lg-3 col-sm-4 col-6"><hr class="mt-2 mb-4 fancy-line invert"></div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					{% if site.client_availability %}
						<p class="text-light">If you're looking for words, marketing, or something in between, say hello! I'm always looking for a great fit.</p>
					{% else %}
						<p class="text-light">I'm currently working for Shopify in Toronto, Canada, so I'm not taking on new clients. But, I'm always interested in new ideas or hearing what you're working on, regardless.</p>
					{% endif %}
					<div class="mt-3">
							<a class="btn btn-outline-light" href="mailto:hello@char.gd" role="button" >Say hello</a>
							<a class="btn btn-outline-light ml-3" href="/services" role="button" >Learn more</a>    
					</div>
				</div>
			</div>
		</div>
	</div>