<footer class="site-footer mt-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul class="contact-list">
					<li class="font-weight-bold">{{ site.title }} 👩‍💻 </li>
					<li class="text smaller">Owen is a content strategy manager at Shopify, and person on the internet. Say hello sometime!</li>
        </ul>
				<ul class="social-media-list smaller">
						{% if site.location %}
						<li>
							<a href="#">
								<div class="icon">
									<i class="fas fa-map-marker"></i>
								</div>
	
								<span class="username">{{ site.location }}</span>
							</a>
						</li>
						{% endif %}
						<li>
								<a href="/contact">
									<div class="icon">
										<i class="fas fa-envelope"></i>
									</div>
									<span class="username">Email me</span>
								</a>
							</li>
	
							{% if site.github_username %}
							<li>
								<a href="https://github.com/{{ site.github_username }}">
									<div class="icon  icon--github">
										<i class="fab fa-github"></i>
									</div>
		
									<span class="username">@{{ site.github_username }}</span>
								</a>
							</li>
							{% endif %}
		
							{% if site.twitter_username %}
							<li>
								<a href="https://twitter.com/{{ site.twitter_username }}">
									<div class="icon icon--twitter">
										<i class="fab fa-twitter"></i>
									</div>
		
									<span class="username">@{{ site.twitter_username }}</span>
								</a>
							</li>
							{% endif %}
						</ul>
      </div>

      <div class="col-lg-2 offset-lg-1 d-none d-sm-block">
				<ul class="navbar-nav mr-auto">
					<li class="font-weight-bold">Keep clicking</li>
					{% for page in site.pages %}
						{% if page.title %}
						<li class="mr-5">
							<a class="nav-link smaller" href="{{ page.url | relative_url }}">{{ page.title }}</a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			
			<div class="col-lg-2 offset-lg-1 d-none d-sm-block">
				<ul class="navbar-nav mr-auto">
					<li class="font-weight-bold">Latest writing</li>
					{% for post in site.posts %}
						{% if post.title %}
						<li class="mr-5">
							<a class="nav-link smaller" href="{{ post.url | relative_url }}">{{ post.title }}</a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
    </div>

  </div>

</footer>
