<footer class="site-footer mt-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul class="contact-list">
					<li class="font-weight-bold">{{ site.title }} 👩‍💻 </li>
					<li class="text">{{ site.description }}</li>
        </ul>
      </div>

      <div class="col-lg-3 offset-lg-1">
        	<ul class="social-media-list">
							<li>
									<a href="mailto:{{ site.email }}">
										<div class="icon">
											<i class="fas fa-envelope"></i>
										</div>
										<span class="username">{{ site.email }}</span>
									</a>
								</li>
		
								{% if site.location %}
								<li>
										<div class="icon">
											<i class="fas fa-map-marker"></i>
										</div>
			
										<span class="username">{{ site.location }}</span>
								</li>
								{% endif %}
		
								{% if site.github_username %}
								<li>
									<a href="https://github.com/{{ site.github_username }}">
										<div class="icon  icon--github">
											<i class="fab fa-github"></i>
										</div>
			
										<span class="username">@{{ site.github_username }}</span>
									</a>
								</li>
								{% endif %}
			
								{% if site.twitter_username %}
								<li>
									<a href="https://twitter.com/{{ site.twitter_username }}">
										<div class="icon icon--twitter">
											<i class="fab fa-twitter"></i>
										</div>
			
										<span class="username">@{{ site.twitter_username }}</span>
									</a>
								</li>
								{% endif %}
							</ul>
      </div>

      <div class="col-lg-2 offset-lg-1">
        
      </div>
    </div>

  </div>

</footer>
