
<header class="site-head">
	<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="/{{ site.baseurl }}">@ow</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					{% for page in site.pages %}
						{% if page.title %}
						<li class="nav-item">
							<a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
						</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</nav>
	</div>

</header>
